{% extends "base.html" %}
{% block content %}
    <div class='article'>
        <div class="content-title">
            <h2>{{ article.title }}
                <small>
                    <div>
                        {% include "metadata.html" %}
                    </div>
                </small>
            </h2>
        </div>
	
        <div>{{ article.content }}</div>
	
        <hr>
    	   
        <h2>Commentaires</h2>
	{% include "twitter.html" %}
	{% if DISQUS_SITENAME %}<div id="disqus_thread"></div>{% endif %}
    </div>
{% endblock %}
